<mat-toolbar color="primary" class="navbar">
  <div style="height: 100%; margin-left: -16px"><a target="_blank" href="http://www.mendezfe.org/projects/napire/"><img alt="NaPiRe" src="./assets/logo.jpg" style="height: 100%"></a></div>
  <div style="margin-left: 16px">{{caption}}</div>
  <span style="flex: 1 1 auto;"></span>
  <span><a mat-button target="_blank" href="https://aset.tu-berlin.de" style="font: 500 20px/32px Roboto,'Helvetica Neue',sans-serif">TU Berlin ASET</a></span>
</mat-toolbar>

<div class="main">
<router-outlet></router-outlet>
</div>
